@{
    ViewBag.Title = "关于我们";
    ViewBag.Menu = "/about";
}

@section head {
    <link rel="stylesheet" type="text/css" href="/Content/css/pages/about.css" />
}

<!-- banner-->
<div class="module-banner">
    <img src="/content/images/about/about-banner.jpg" />
    <h2>中国顶尖VR全景平台搭建供应商 五年品质 倾力打造 | 一次买断 终身服务</h2>
</div>
<!-- content-->
<section class="module-content">
    <div class="wrapper">
        <div class="about">
            <!-- 分类-->
            <div class="about-category">
                <a class="item active" href="javascript:;" tab="1">公司简介</a>
            </div>
            <!-- 公司简介-->
            <div class="company-intro">
                <div class="section-intro">
                    <div class="top">
                        <p class="desc">拍加是拍加科技（福建）有限公司旗下的移动互联网营销服务产品，专注于为城市商圈提供VR全景拍摄服务及一站式行业解决方案，促使商圈资源整合，帮助企业商户简单快捷地运用“VR全景+移动互联网+本地生活”新型运营模式获利。</p>
                        <p class="desc">拍加作为国内专业的拥有自主核心技术的VR生活类智慧商圈行业解决方案提供商，帮助商户有效降低商户的整体营销成本，让商户更专注于核心业务的创新，实现自身更多价值。</p>
                        <p class="desc">拍加秉持着诚信为本、互利共赢的核心理念打造优质城市生活，让用户享受VR视觉购物体验，同时进一步解决商家的营销难题。拍加面向全国诚招入驻商户，一同为开创美好未来而不懈努力！</p>
                    </div>
                    <div class="bottom">
                        <ul>
                            <li class="item">
                                <div class="img"><img src="/content/images/about/intro1.jpg" /></div>
                                <p>公司环境</p>
                            </li>
                            <li class="item">
                                <div class="img"><img src="/content/images/about/intro2.jpg" /></div>
                                <p>办公环境</p>
                            </li>
                            <li class="item">
                                <div class="img"><img src="/content/images/about/intro3.jpg" /></div>
                                <p>公司前台</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section-technical-strength">
                    <h2 class="section-title">用心创造世界</h2>
                    <ul class="point">
                        <li class="item">
                            <div class="top">
                                <img src="/content/images/about/science1.png" />
                                <div class="title">智慧运营</div>
                            </div>
                            <div class="bottom">
                                <p>拍加为商家提供“本地实体店+VR全景+互联网”新型营销方式，高效稳定地对商家和商品进行推广营销，满足多种行业商户需求。</p>
                            </div>
                        </li>
                        <li class="item">
                            <div class="top">
                                <img src="/content/images/about/science2.png" />
                                <div class="title">技术支持</div>
                            </div>
                            <div class="bottom">
                                <p>拍加拥有专业的全景拍摄人员以及平台技术人才，为入驻商家提供最全面的技术支持与保障。</p>
                            </div>
                        </li>
                        <li class="item">
                            <div class="top">
                                <img src="/content/images/about/science3.png" />
                                <div class="title">BOSS服务</div>
                            </div>
                            <div class="bottom">
                                <p>拍加可按照入驻商家的行业或店铺展示需求制作场景，并且支持商户自行修改，帮助商户在同行业竞争中抢占先机。</p>
                            </div>
                        </li>
                        <li class="item">
                            <div class="top">
                                <img src="/content/images/about/science4.png" />
                                <div class="title">快速响应</div>
                            </div>
                            <div class="bottom">
                                <p>拍加一向以最快的速度响应入驻商户紧急、多变的需求，为商户带来快速、友好、舒心的入驻体验。</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="section-corporate-culture">
                    <h2 class="section-title">拍加企业文化</h2>
                    <ul class="point">
                        <li class="item">
                            <div class="icon"><i class="iconfont icon-qiyelinian"></i></div>
                            <div class="title">核心价值观</div>
                            <p class="desc">修己、达人、奋斗、创新。</p>
                        </li>
                        <li class="item">
                            <div class="icon"><i class="iconfont icon-shiming-"></i></div>
                            <div class="title">使命</div>
                            <p class="desc">拍加，生活本该高品质。</p>
                        </li>
                        <li class="item">
                            <div class="icon"><i class="iconfont icon-guanyuwomen-jituanwenhua-yuanjingicon"></i></div>
                            <div class="title">愿景</div>
                            <p class="desc">打造卓越的互联网营销模式，为开创美好未来生活做出贡献。</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript" src="/Content/js/pages/about.js"></script>
}