@{
    ViewBag.Title = "关于我们";
    ViewBag.Menu = "/about";
}

@section head {
    <link rel="stylesheet" type="text/css" href="/Content/css/pages/about.css" />
}

<!-- banner-->
<div class="module-banner">
    <img src="/content/images/about/about-banner.jpg" />
    <h2>中国顶尖VR全景平台搭建供应商 五年品质 倾力打造 | 一次买断 终身服务</h2>
</div>
<!-- content-->
<section class="module-content">
    <div class="wrapper">
        <div class="about">
            <!-- 分类-->
            <div class="about-category"><a class="item active" href="javascript:;" tab="1">公司简介</a><a class="item" href="javascript:;" tab="2">发展历程</a><a class="item" href="javascript:;" tab="3">企业荣誉</a></div>
            <!-- 公司简介-->
            <div class="company-intro">
                <div class="section-intro">
                    <div class="top">
                        <p class="desc">维构科技（福建）有限公司总部位于福建福州，创立于2013年，获得“诚信互联网示范企业”、“中国互联网协会会员单位”、“中国3·15诚信品牌”等荣誉称号。</p>
                        <p class="desc">创立至今，公司秉承着“见未来所见 先价值创先”的态度专注技术、五年深耕，不断研发全景制作功能，在VR全景行业内，维构创造了国内首款基于B/S模式图形化的漫游制作平台“维构全景漫游系统”，并推出业内首款全景广告联盟管理系统。</p>
                        <p class="desc">如今，VR全景技术在国内突飞猛进发展，未来图像市场将是VR全景技术的天下，我们希望维构全景能够走进全国更多地区，把优质的VR全景项目推广出去，用更好的技术和服务解决商家、企业的营销难题，我们面向全国诚招维构全景合作商，以诚心和信心共同打造VR全景新天地！</p>
                    </div>
                    <div class="bottom">
                        <ul>
                            <li class="item">
                                <div class="img"><img src="/content/images/about/intro1.jpg" /></div>
                                <p>公司环境</p>
                            </li>
                            <li class="item">
                                <div class="img"><img src="/content/images/about/intro2.jpg" /></div>
                                <p>办公环境</p>
                            </li>
                            <li class="item">
                                <div class="img"><img src="/content/images/about/intro3.jpg" /></div>
                                <p>公司前台</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section-technical-strength">
                    <h2 class="section-title">科技改变世界</h2>
                    <ul class="point">
                        <li class="item">
                            <div class="top">
                                <img src="/content/images/about/science1.png" />
                                <div class="title">技术领先</div>
                            </div>
                            <div class="bottom">
                                <p>维构维构凭借巨大的研发投入和专业人才优势自主研发18大创新功能，技术领先同行。</p>
                            </div>
                        </li>
                        <li class="item">
                            <div class="top">
                                <img src="/content/images/about/science2.png" />
                                <div class="title">BOSS服务</div>
                            </div>
                            <div class="bottom">
                                <p>维构全景携手微信开放平台接口以及阿里云服务器打造独立平台、代码直接购买，并且支持二次开发。拥有超强兼容性，帮助客户打造业内强大的开源、开放平台。</p>
                            </div>
                        </li>
                        <li class="item">
                            <div class="top">
                                <img src="/content/images/about/science3.png" />
                                <div class="title">灵活定制</div>
                            </div>
                            <div class="bottom">
                                <p>维构全景可为合作伙伴提供个性化功能支持，满足用户更多需求，可根据需求量身打造合作伙伴需要的全景系统平台。</p>
                            </div>
                        </li>
                        <li class="item">
                            <div class="top">
                                <img src="/content/images/about/science4.png" />
                                <div class="title">快速响应</div>
                            </div>
                            <div class="bottom">
                                <p>维构一向以最快的速度响应合作伙伴紧急、多变的需求，提供7*24在线服务支持，为合作伙伴带来快速、友好、舒心的体验。</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="section-corporate-culture">
                    <h2 class="section-title">维构企业文化</h2>
                    <ul class="point">
                        <li class="item">
                            <div class="icon"><i class="iconfont icon-qiyelinian"></i></div>
                            <div class="title">发展理念</div>
                            <p class="desc">维构专注于搭建独属于合作伙伴的VR全景平台，建立可供合作伙伴利用的资源分享模式，打造个性化定制平台，提供重点行业VR营销解决方案。</p>
                        </li>
                        <li class="item">
                            <div class="icon"><i class="iconfont icon-shiming-"></i></div>
                            <div class="title">使命</div>
                            <p class="desc">见未来所见，先价值创先</p>
                        </li>
                        <li class="item">
                            <div class="icon"><i class="iconfont icon-guanyuwomen-jituanwenhua-yuanjingicon"></i></div>
                            <div class="title">愿景</div>
                            <p class="desc">我们将更加深入的开发VR全景业务，我们将一如既往秉承“顾客至上”的理论服务，共同推动VR全景行业的发展</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 发展历程-->
            <div class="company-course">
                <div class="section-course">
                    <ul>
                        <li class="item">
                            <div class="img">
                                <img src="/content/images/about/course1.png" />
                                <div class="title">2013年底品牌初创</div>
                            </div>
                            <div class="desc">
                                <p>2013年11月，维构科技正式成立，致力于软件开发，系统搭建等互联网行业。</p>
                                <p>2014年2月，成立19人微信开发团队，对自主研发的微信模块开发引擎进行开源服务，服务上百家企业，上千个微信开发者。</p>
                                <p>2015年1月，维构科技进入自主研发维构全景VR服务平台阶段，力求融合互联网、3D全景、虚拟现实三大产业。</p>
                            </div>
                        </li>
                        <li class="item">
                            <div class="img">
                                <img src="/content/images/about/course2.png" />
                                <div class="title">2017年品牌崛起</div>
                            </div>
                            <div class="desc">
                                <p>6月，获得天使轮300万</p>
                                <p>10月，《维构全景小程序》上线</p>
                                <p>12月，维构全景由定点观看升级为空间行走漫游，超越同行</p>
                            </div>
                        </li>
                        <li class="line"><img src="/content/images/about/line.png" /></li>
                        <li class="item">
                            <div class="img">
                                <img src="/content/images/about/course3.png" />
                                <div class="title">2016年品牌建设</div>
                            </div>
                            <div class="desc">
                                <p>3月，《维构全景VR互动漫游系统V1.0》上线</p>
                                <p>11月，首创全景VR+广告联盟</p>
                                <p>12月，首创全景VR+营销插件</p>
                            </div>
                        </li>
                        <li class="item">
                            <div class="img">
                                <img src="/content/images/about/course4.png" />
                                <div class="title">2018年品牌扩张</div>
                            </div>
                            <div class="desc">
                                <p>3月，《维构全景VR互动漫游系统V2.0》上线</p>
                                <p>5月，维构全景实景克隆行走路径Demo体验上线</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="future">未来，我们还将继续勇往直前，奋斗创新！</div>
            </div>
            <!-- 企业荣誉-->
            <div class="company-honour">
                <div class="section-honour">
                    <ul>
                        <li class="item">
                            <div class="img"><img src="/content/images/about/honour1.jpg" /></div>
                            <div class="title">维构全景VR编辑器软件</div>
                        </li>
                        <li class="item">
                            <div class="img"><img src="/content/images/about/honour2.jpg" /></div>
                            <div class="title">维构全景VR互动漫游系统</div>
                        </li>
                        <li class="item">
                            <div class="img"><img src="/content/images/about/honour3.jpg" /></div>
                            <div class="title">中国3.15诚信品牌（企业）</div>
                        </li>
                        <li class="item">
                            <div class="img"><img src="/content/images/about/honour4.jpg" /></div>
                            <div class="title">中国互联网协会会员单位</div>
                        </li>
                        <li class="item">
                            <div class="img"><img src="/content/images/about/honour5.jpg" /></div>
                            <div class="title">E企信验证单位</div>
                        </li>
                        <li class="item">
                            <div class="img"><img src="/content/images/about/honour6.jpg" /></div>
                            <div class="title">质量.服务.诚信AAA企业</div>
                        </li>
                        <li class="item">
                            <div class="img"><img src="/content/images/about/honour7.jpg" /></div>
                            <div class="title">AAA信用企业</div>
                        </li>
                        <li class="item">
                            <div class="img"><img src="/content/images/about/honour8.jpg" /></div>
                            <div class="title">中国互联网诚信示范企业</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript" src="/Content/js/pages/about.js"></script>
}