@{
    ViewBag.Title = "招商加盟";
    ViewBag.Menu = "/business";
}

@section head {
    <link rel="stylesheet" type="text/css" href="/Content/css/pages/business.css" />
}

<!-- banner-->
<div class="module-banner">
    <img src="/content/images/business/business-banner.jpg" />
    <h2>OEM模式 专属你的VR全景平台</h2>
</div>
<!-- content-->
<section class="module-content">
    <div class="wrapper">
        <div class="business">
            <!-- VR全景行业背景-->
            <div class="section-vr-background">
                <h2 class="section-title">VR全景行业背景</h2>
                <ul class="content">
                    <li class="item">
                        <img class="item-img" src="/content/images/business/vr-background1.png" />
                        <h3 class="item-title">全景概述</h3>
                        <div class="item-desc">
                            <p>全景技术是一种通过数码相机与计算机技术实现真实场景的还原展示和全方位互动式观看的三维虚拟展示技术。随着网络技术的发展，全景技术的优越性更加突出。它改变了传统网络平淡的特点，让人们在网上能够进行360°全景观察，而且通过交互操作，可以实现自由浏览，从而体验三维的VR视觉世界。</p>
                        </div>
                    </li>
                    <li class="item">
                        <img class="item-img" src="/content/images/business/vr-background2.png" />
                        <h3 class="item-title">全景行业覆盖</h3>
                        <div class="item-desc">
                            <p>VR全景以全新的真实感体验和交互式感受的视觉技术迅速得到推崇，它广泛应用于三维实景漫游，如智慧商业、电子商务、房产、旅游、教育、展会、企业宣传等广大领域。</p>
                        </div>
                    </li>
                    <li class="item">
                        <img class="item-img" src="/content/images/business/vr-background3.png" />
                        <h3 class="item-title">全景概述</h3>
                        <div class="item-desc">
                            <p>2016年，暴风魔镜、知萌咨询与国家广告研究院联合发布了首份《中国 VR 用户行为研究报告》 ，报告显示VR潜在用户有2.86 亿，其中有96万为重度VR用户。而从当前VR重度用户特征来看，青年男性、宅男宅女，科技达人、网游电竞成为了VR重度用户最重要的标签。</p>
                        </div>
                    </li>
                    <li class="item">
                        <img class="item-img" src="/content/images/business/vr-background4.png" />
                        <h3 class="item-title">国家政策</h3>
                        <div class="item-desc">
                            <p>
                                ① VR创业小镇：	各地政府支持建设VR创业小镇，多重补贴支持VR创业公司：2016年6月福建东湖VR小镇；2017年5月贵州北斗湾VR小镇……
                                ② VR发展文件：	2018年5月21日，工信部电子信息司副司长吴胜武表示：工信部将组织制定《关于加快推进虚拟现实产业发展的指导意见》政策文件，通过五大方面继续推进虚拟现实产业健康快速发展。
                                ③ 专题推介：   中央乃至各地政府定期举办VR产业招商引资专题推介会推进VR行业发展。
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 项目介绍：维构寻找VR全景合伙人-->
            <div class="section-project-introduction mt20">
                <div class="left">
                    <h2 class="section-title">项目介绍：维构寻找VR全景合伙人</h2>
                    <div class="content">
                        <div class="desc">维构全景系统是由维构科技（福建）有限公司利用3D全景技术与虚拟现实（VR）技术构建的国内顶尖的全景和虚拟现实服务平台系统。</div>
                        <ul class="point">
                            <li class="item">
                                <p class="text">一个前沿的3D全景高科技团队</p>
                            </li>
                            <li class="item">
                                <p class="text">一套属于自己的成熟的全景展示、移动建站、移动营销系统</p>
                            </li>
                            <li class="item">
                                <p class="text">一个开设无数帐号、可整合本地资源的四网合一门户平台</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <p class="desc">维构不仅仅实现了VR全景的高效果展示、营销模块的深度整合，还将全景拍摄流程、全景制作流程、全景分享流程、全景整合流程、全景运营流程，做成了<span>流水线</span>、<span>傻瓜化</span>模式。只要您团队有稍微懂一点电子产品、网站博客系统的成员，就能顺利操作起来。</p>
                </div>
            </div>
            <!-- 项目优势-->
            <div class="section-project-advantage mt20">
                <h2 class="section-title">项目优势</h2>
                <div class="desc">维构针对重点行业提供行业解决方案</div>
                <div class="content">
                    <div class="left fl">
                        <h3 class="title">传统行业</h3>
                        <ul class="compare">
                            <li class="item">
                                <div class="name">
                                    <p>缺乏展</p>
                                    <p>示手段</p>
                                </div>
                                <div class="info">缺乏有效展示手段，局限于图片、文字等形式，受众不能全方位获取信息，很难提起购买产品的兴趣意向</div>
                            </li>
                            <li class="item">
                                <div class="name">
                                    <p>推广</p>
                                    <p>成本高</p>
                                </div>
                                <div class="info">推广成本高，大规模投放电视广告或地推广告所需较高的人力成本，也无法从其他竞争产品中脱颖而出，传播度低，很难创建自己的品牌形象</div>
                            </li>
                            <li class="item">
                                <div class="name">
                                    <p>客源</p>
                                    <p>少</p>
                                </div>
                                <div class="info">部分行业没有完善的营销规划，无法获得长期稳定的客源，潜在的客源难以转化为实际顾客</div>
                            </li>
                        </ul>
                    </div>
                    <div class="center"><img src="/content/images/business/vs.png" /></div>
                    <div class="right fr">
                        <h3 class="title">维构全景合作行业</h3>
                        <ul class="compare">
                            <li class="item">
                                <div class="name">
                                    <p>高效展</p>
                                    <p>示手段</p>
                                </div>
                                <div class="info">通过维构VR全景系统，可以帮助各行业商家可以快速制作全景实景，720°展现场景+深度互动功能，全面激发顾客的购买意向</div>
                            </li>
                            <li class="item">
                                <div class="name">
                                    <p>推广</p>
                                    <p>成本低</p>
                                </div>
                                <div class="info">通过维构VR全景系统制作的全景图进行推广宣传，同时可以利用微信绑定功能在微信等社交平台进行广泛传播</div>
                            </li>
                            <li class="item">
                                <div class="name">
                                    <p>高效</p>
                                    <p>营销</p>
                                </div>
                                <div class="info">通过维构VR全景营销系统可以实现展示-预定/购买一站式服务，同时在全景展示中植入营销插件开展热门营销活动，在短时间内引起裂变式营销反应。</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 竞品分析-->
            <div class="section-product-analyze">
                <h2 class="section-title">竞品分析</h2>
                <ul class="content">
                    <li class="item">
                        <div class="item-title">维构全景</div>
                        <p class="item-desc">
                            1、一次买断，系统独立，终身使用。
                            2、品牌自主，掌握数据。
                            3、百款插件+广告联盟系统助力营销。
                            4、功能快速更新。
                        </p>
                    </li>
                    <li class="item">
                        <div class="item-title">1类竞品</div>
                        <p class="item-desc">
                            只有最基础的全景编辑功能，没有行业营销功能。
                        </p>
                    </li>
                    <li class="item">
                        <div class="item-title">2类竞品</div>
                        <p class="item-desc">
                            1、发展代理商但在是他们的名下的，每年需要缴纳高额维护费用，包括功能升级。
                            2、没有广告联盟系统。
                        </p>
                    </li>
                    <li class="item">
                        <div class="item-title">3类竞品</div>
                        <p class="item-desc">
                            代理模式，数据权限掌握在别人手上，而且每年都需要缴纳代理费用，系统更新速度很慢，很多功能都是以噱头为主，其实根本没有办法实现，比如商城系统，手机不能直接购买付款。
                        </p>
                    </li>
                </ul>
            </div>
            <!-- 盈利模式-->
            <div class="section-profit-model">
                <h2 class="section-title">盈利模式</h2>
                <div class="content">
                    <div class="left fl">
                        <ul>
                            <li class="item">
                                <div class="item-desc">合作客户通过我们的培训后可以承接全景拍摄业务，当下全景拍摄市场涉及各个行业，拍摄需求大</div>
                                <div class="itam-name">
                                    <img src="/content/images/business/icon1.png" />
                                    <p>拍摄收入</p>
                                </div>
                            </li>
                            <li class="item">
                                <div class="item-desc">由于代理商可拥有无数个商户帐号，此功能可作为增值服务赠送，促进招商工作</div>
                                <div class="itam-name">
                                    <img src="/content/images/business/icon2.png" />
                                    <p>增值服务</p>
                                </div>
                            </li>
                            <li class="item">
                                <div class="item-desc">维构会将相关地区的拍摄资源分配到当地的合作商手中,达到资源的有效配置</div>
                                <div class="itam-name">
                                    <img src="/content/images/business/icon3.png" />
                                    <p>资源分配</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="center"><img src="/content/images/business/profit-model.png" /></div>
                    <div class="right fr">
                        <ul>
                            <li class="item">
                                <div class="item-desc">运营商可以根据广告主需求进行精确的广告投放收取用户广告费用，同时可开启打赏功能进行分润</div>
                                <div class="itam-name">
                                    <img src="/content/images/business/icon4.png" />
                                    <p>广告投放及<br>打赏分润收入</p>
                                </div>
                            </li>
                            <li class="item">
                                <div class="item-desc">基于主平台可开设大量合作商户帐号，同时可根据合作商户需求和平台特色提供活动策划等相关业务</div>
                                <div class="itam-name">
                                    <img src="/content/images/business/icon5.png" />
                                    <p>商家营销收入</p>
                                </div>
                            </li>
                            <li class="item">
                                <div class="item-desc">拥有最高系统权限后可招募区域代理商，根据不同级别的代理商可分配不同数量的商户帐号</div>
                                <div class="itam-name">
                                    <img src="/content/images/business/icon6.png" />
                                    <p>代理收入</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- join us-->
            <div class="section-join-us">
                <h2 class="section-title">加入我们</h2>
                <div class="title-join-us">
                    <h3>维构全景合作流程</h3>
                    <h4>拥有VR全景独立平台，实现质的飞跃</h4>
                </div>
                <div class="content">
                    <ul class="top">
                        <li class="item">
                            <i class="iconfont icon-renwufangtan"></i>
                            <div class="item-name">合作洽谈</div>
                        </li>
                        <li class="item">
                            <i class="iconfont icon-fukuan-copy"></i>
                            <div class="item-name">预付首款</div>
                        </li>
                        <li class="item">
                            <i class="iconfont icon-yanshouchaxun"></i>
                            <div class="item-name">系统验收</div>
                        </li>
                        <li class="item">
                            <i class="iconfont icon-zhandianguanli"></i>
                            <div class="item-name">站点运营</div>
                        </li>
                    </ul>
                    <div class="path">
                        <ul class="icons">
                            <li class="icon"></li>
                            <li class="icon"></li>
                            <li class="icon"></li>
                            <li class="icon"></li>
                            <li class="icon"></li>
                            <li class="icon"></li>
                        </ul>
                    </div>
                    <ul class="bottom">
                        <li class="item">
                            <i class="iconfont icon-qianzi"></i>
                            <div class="item-name">签订合同</div>
                        </li>
                        <li class="item">
                            <i class="iconfont icon-bei"></i>
                            <div class="item-name">进入筹备</div>
                        </li>
                        <li class="item">
                            <i class="iconfont icon-yingfukuan"></i>
                            <div class="item-name">尾款支付</div>
                        </li>
                    </ul>
                </div>
                <div class="apply">
                    <h3 class="title">加入维构</h3>
                    <div class="apply-form">
                        <label>姓名:</label>
                        <input class="name" type="text" name="name" v-model="name" maxlength="20" /><br>
                        <label>电话:</label>
                        <input class="tel" type="text" name="tel" v-model="phone" maxlength="11" /><br>
                        <input class="submit" type="button" value="在线申请" @@click="submit" />
                    </div>
                    <div class="tip">请填写以上信息，我们会尽快与您联系，并注重保护您的隐私</div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script type="text/javascript" src="/Content/js/pages/business.js"></script>
    @{
        Html.RenderPartial("~/Views/Shared/_VueBase.cshtml");
    }

    <script type="text/javascript">
        (function () {
            var showLoading = function () {
                return ELEMENT.Loading.service({
                    lock: true,
                    background: 'rgba(0, 0, 0, 0.7)'
                })
            }
            var closeLoading = function (loading) {
                if (loading) {
                    loading.close()
                }
            }
            var loading = null;
            new Vue({
                el: "#app",
                data() {
                    return {
                        name: "",
                        phone: ""
                    }
                },
                methods: {
                    validate() {
                        if (!this.name) {
                            return "请输入姓名"
                        }
                        if (!this.phone) {
                            return "请输入手机号"
                        }
                        if (!/^1[345678]\d{9}$/g.test(this.phone)) {
                            return "手机号格式不正确";
                        }
                        return "";
                    },
                    submit() {
                        var self = this
                        var error = this.validate();
                        if (error) {
                            this.$message.error(error)
                            return;
                        }
                        $.ajax({
                            url: "https://www.vgoyun.com/api/web/intentions",
                            @*url: "http://localhost:59359/api/web/intentions",*@
                            method: "POST",
                            dataType: "json",
                            contentType: 'application/json',
                            data: JSON.stringify({
                                name: self.name,
                                phone: self.phone,
                                intentions: [1, 2, 3],
                                remark: "维构全景前端004 - 加入我们"
                            }),
                            beforeSend: function (jqXHR, settings) {
                                loading = showLoading();
                            },
                            success: function (res) {
                                if (res.code == 200) {
                                    self.$message.success("提交成功，我们会尽快联系您！");
                                    self.phone = "";
                                    self.name = "";
                                } else {
                                    self.$message.error(res.msg)
                                }
                            },
                            complete: function (jqXHR, textStatus) {
                                closeLoading(loading);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                if (textStatus == "parsererror") {
                                    self.$message.error("解析结果错误请稍后再试");
                                } else {
                                    self.$message.error("网络异常请稍后再试");
                                }
                            }
                        })

                    }
                }
            })
        })();
    </script>
}