@{
    ViewBag.Title = "登录";
    ViewBag.HideFooter = true;
}
@using Newtonsoft.Json
@using vgo.frontsite004.Models

@section head {
    <link rel="stylesheet" type="text/css" href="/Content/css/pages/login.css" />
}

<!-- content-->
<section class="module-content">
    <div class="wrapper">
        <div class="user-login">
            <div class="left fl">
                <h1>全景互动服务平台</h1>
                <p>提供商业级全景拍摄 全景后期制作</p>
            </div>
            <div class="right fr">
                <div class="title">
                    <h2>登录</h2>
                </div>
                <div class="login-form">
                    <div class="item">
                        <i class="iconfont icon-geren1"></i>
                        <input class="tel" type="text" name="tel" placeholder="请填写账号" v-model="model.username" maxlength="50" />
                    </div>
                    <div class="item">
                        <i class="iconfont icon-password-alt"></i>
                        <input class="name" type="password" name="nickname" placeholder="请填写密码" v-model="model.password" maxlength="30" />
                    </div>
                    <div class="item auth-code">
                        <i class="iconfont icon-password-alt"></i>
                        <input class="pwd" type="text" name="password" placeholder="请填写验证码" v-model="model.vcode" maxlength="5" @@keyup.enter="submit" />
                        <div class="img"><img v-bind:src="vcode_url" @@click="refreshCode" /></div>
                    </div>
                    <div class="item options">
                        <div class="keep-pwd">
                            @*<input type="checkbox" /><span>记住密码</span>*@
                        </div>
                        <div class="find-pwd"><a href="@(WebConfigs.Config.url_user + "user/new-pass.aspx")">忘记密码?</a></div>
                    </div>
                    <input class="submit" type="button" value="登录" @@click="submit" />
                </div>
                <div class="tip"><span>还没有账号? </span><a href="@(WebConfigs.Config.url_user + "register.aspx")">快速注册</a></div>
            </div>
        </div>
    </div>
</section>

@section scripts {

    @{
        Html.RenderPartial("~/Views/Shared/_VueBase.cshtml");
    }

    <script type="text/javascript">
        (function () {
            var redirect = "@(Request["redirect"] ?? "")"

            new Vue({
                el: "#app",
                data() {
                    return {
                        vcode_url: "/vcode?_t=" + Date.now(),
                        model: {
                            username: "",
                            password: "",
                            vcode: "",
                            vcode_url: ""
                        }
                    }
                },
                methods: {
                    refreshCode() {
                        this.vcode_url = "/vcode?_t=" + Date.now()
                    },
                    submit() {
                        var self = this
                        if (!this.model.username) {
                            this.$message.error("用户名不能为空")
                            return
                        }
                        if (!this.model.password) {
                            this.$message.error("密码不能为空")
                            return
                        }
                        if (!this.model.vcode) {
                            this.$message.error("验证码不能为空")
                            return
                        }
                        this.$service.login(this.model, function (res) {
                            location.href = redirect || "/"
                        }, function (res) {
                            self.vcode = "";
                            self.refreshCode();
                        });
                    }
                }
            })
        })();
    </script>
}