.module-content {
    width: 100%;
    overflow: hidden;
}

    .module-content > .wrapper {
        width: 1200px;
        margin: 0 auto;
    }

        .module-content > .wrapper .pano {
            width: 100%;
            text-align: center;
        }

.category .item .sub-cate .sub-item a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.category {
    padding: 30px 0 22px;
    text-align: left;
}

    .category .item .sub-cate .sub-item:nth-child(-n+6) {
        margin-top: 10px;
    }

    .category .item {
        vertical-align: top;
        display: inline-block;
        font-size: 24px;
        margin-right: 8px;
        width: 190px;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 12px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        position: relative;
    }

        .category .item:hover .sub-cate {
            display: block;
        }

        .category .item .info a {
            border: 1px solid #9c0;
            border-radius: 5px;
            border-radius: 5px;
        }

        .category .item.active .info a {
            background-color: transparent;
            color: #fff !important;
            background-color: #9c0;
        }

        .category .item:hover .info a {
            background-color: #9c0;
            color: #fff !important;
        }

        .category .item:nth-child(6n) {
            margin-right: 0;
        }

        .category .item:nth-child(6n+2) .sub-cate {
            margin-left: -202px;
        }

            .category .item:nth-child(6n+2) .sub-cate .sub-item:first-child::before {
                margin-left: 202px;
            }

        .category .item:nth-child(6n+3) .sub-cate {
            margin-left: -400px;
        }

            .category .item:nth-child(6n+3) .sub-cate .sub-item:first-child::before {
                margin-left: 400px;
            }

        .category .item:nth-child(6n+4) .sub-cate {
            margin-left: -598px;
        }

            .category .item:nth-child(6n+4) .sub-cate .sub-item:first-child::before {
                margin-left: 598px;
            }

        .category .item:nth-child(6n+5) .sub-cate {
            margin-left: -796px;
        }

            .category .item:nth-child(6n+5) .sub-cate .sub-item:first-child::before {
                margin-left: 796px;
            }

        .category .item:nth-child(6n+6) .sub-cate {
            margin-left: -994px;
        }

            .category .item:nth-child(6n+6) .sub-cate .sub-item:first-child::before {
                margin-left: 994px;
            }

        .category .item .info {
            margin-bottom: 12px;
            width: 190px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            overflow: hidden;
            position: relative;
        }

            .category .item .info a {
                color: #9c0;
                height: 100%;
                width: 100%;
                display: block;
                background-color: rgba(255, 255, 255, 0.3);
            }

        .category .item .sub-cate {
            width: 1200px;
            display: none;
            background-color: rgba(153, 204, 0, 0.3);
            position: relative;
        }

            .category .item .sub-cate .sub-item:first-child::before {
                content: '';
                visibility: visible;
                position: absolute;
                top: -12px;
                left: 90px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 12px solid rgba(153, 204, 0, 0.3);
                z-index: 999;
            }

            .category .item .sub-cate.active {
                display: block;
            }

            .category .item .sub-cate .sub-item {
                width: 190px;
                height: 50px;
                background-color: #fff;
                line-height: 50px;
                text-align: center;
                border: 1px solid #9c0;
                border-radius: 5px;
                overflow: hidden;
                float: left;
                /*font-size: 24px;*/
                font-size: 18px;
                margin-right: 12px;
                margin-bottom: 12px;
            }

                .category .item .sub-cate .sub-item a {
                    color: #9c0;
                }

                .category .item .sub-cate .sub-item:hover,
                .category .item .sub-cate .sub-item.active {
                    background-color: #9c0;
                }

                    .category .item .sub-cate .sub-item:hover a,
                    .category .item .sub-cate .sub-item.active a {
                        color: #fff;
                    }

                .category .item .sub-cate .sub-item:nth-child(6n) {
                    margin-right: 0;
                }

.pano-list .item {
    overflow: hidden;
    float: left;
    width: 285px;
    height: 321px;
    border: 1px solid #e8e8e8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-right: 18px;
    margin-bottom: 18px;
    position: relative;
}

    .pano-list .item:nth-child(4n) {
        margin-right: 0;
    }

    .pano-list .item:hover .buttom .title {
        color: #9c0;
    }

    .pano-list .item:hover .images-box .info {
        opacity: 1;
        z-index: 1;
        -webkit-transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
    }

    .pano-list .item .buttom {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        height: 36px;
        line-height: 36px;
        background-color: #f5f5f5;
    }

        .pano-list .item .buttom .title {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            font-size: 16px;
            color: #333;
            text-align: left;
            padding-left: 8px;
        }

        .pano-list .item .buttom .author {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 120px;
            flex: 0 0 120px;
            color: #666;
            font-size: 14px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            padding-right: 8px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

            .pano-list .item .buttom .author .iconfont {
                margin-top: -4px;
            }

            .pano-list .item .buttom .author span {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 32px;
                flex: 0 0 32px;
            }

            .pano-list .item .buttom .author .name {
                margin-left: 5px;
                max-width: 85px;
            }

    .pano-list .item .images-box {
        width: 100%;
        height: 285px;
        position: relative;
        overflow: hidden;
    }

        .pano-list .item .images-box .cover {
            width: 100%;
            height: 100%;
            position: relative;
            background-color: #fff;
        }

            .pano-list .item .images-box .cover img {
                height: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-transition: all 2s;
                -o-transition: all 2s;
                transition: all 2s;
            }

        .pano-list .item .images-box .info {
            -webkit-transition: all 0.5s 0s;
            -o-transition: all 0.5s 0s;
            transition: all 0.5s 0s;
            opacity: 0;
            z-index: -1;
            -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
            transform: scale(1.5);
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            background-color: rgba(0, 0, 0, 0.4);
        }

            .pano-list .item .images-box .info .qrcode {
                width: 140px;
                height: 140px;
            }

                .pano-list .item .images-box .info .qrcode img {
                    width: 100%;
                    height: 100%;
                }

            .pano-list .item .images-box .info .count {
                z-index: 999;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 80%;
                margin: 0 auto;
                -ms-flex-pack: distribute;
                justify-content: space-around;
            }

                .pano-list .item .images-box .info .count .views,
                .pano-list .item .images-box .info .count .praise {
                    color: #fff;
                }

                    .pano-list .item .images-box .info .count .views i.iconfont,
                    .pano-list .item .images-box .info .count .praise i.iconfont {
                        font-size: 16px;
                    }

                    .pano-list .item .images-box .info .count .views span,
                    .pano-list .item .images-box .info .count .praise span {
                        margin-left: 5px;
                        font-size: 16px;
                    }
