<footer>
    <div class="footer">
        <div class="footer-wrap">
            <div class="footer-logo">
                <img src="@WebConfigs.LogoUrl">
            </div>
            <div class="footer-center">
                <div class="about">
                    <ul>
                        <li><a href="/about " target="_blank" rel="noopener noreferrer">关于我们</a></li>
                        <li><a href="/news " target="_blank" rel="noopener noreferrer">新闻资讯</a></li>
                        <li><a href="#" target="_blank" rel="noopener noreferrer">软件套餐</a></li>
                        <li><a href="/panomap" target="_blank" rel="noopener noreferrer">站点地图</a></li>
                    </ul>
                </div>
                <div class="contact">
                    <ul>
                        <li>联系方式</li>
                        <li>全国服务热线：@WebConfigs.Config.common_page_hotline</li>
                        <li>工作时间：9:00-18:00 (工作日)</li>
                        <li>@Html.Raw(WebConfigs.Config.common_page_footer)</li>
                    </ul>
                </div>
            </div>
            <div class="footer-left">
                @*<div class="ewm">
                    <img src="~/content/images/ewm2.png">
                    <span>微信客服</span>
                </div>
                <div class="ewm">
                    <img src="/content/images/ewm.jpg">
                    <span>微信公众号</span>
                </div>*@

            </div>
        </div>
    </div>
</footer>
<div class="copy-right"></div>
