@import './variable.styl';

.common_body {
  margin-top: 50px;
}
/**底部*/

/**底部end*/
/**备案*/
.copyright {
  margin: 10px 10px 70px 10px;
  text-align: center;
}
/**备案 end*/

/** 加载更多*/
.common_more {
  text-align: center;
  height: 60px;
  line-height: 60px;
  background-color: white;
  span {
    color: #999;
    font-size: 14px;
  }
}
/** 加载更多 end*/
/** 菜单*/

/** 菜单 end*/
/** index */
.index_focus {
  .slide_nav {
    position: absolute;
    right: 2%;
    bottom: 5%;
    z-index: 11;
    a {
      cursor: pointer;
      float: left;
      width: 8px;
      height: 8px;
      margin-right: 5px;
      border: 1px solid #f9f9f9;
    }
    .on {
      background: #fb6a20;
      float: left;
      width: 8px;
      height: 8px;
      border: 1px solid #fb6a20;
    }
  }
}
/** index end */

// BASE
.omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}