@charset "utf-8";
/* 底部 */
.footer {
    background-color: #101010;
}

    .footer .footer-wrap {
        max-width: 1230px;
        /* height: 174px; */
        /* line-height: 32px; */
        margin: auto;
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 24px 0;
    }

        .footer .footer-wrap .footer-center .about ul {
            display: flex;
            justify-content: space-between;
            width: 540px;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
        }

            .footer .footer-wrap .footer-center .about ul li a:hover {
                color: #D7141A;
            }

        .footer .footer-wrap .footer-center .contact {
            color: #A4A4A4;
            margin-top: 20px;
            line-height: 25px;
            font-size: 14px;
        }

            .footer .footer-wrap .footer-center .contact ul li:last-child {
                margin-top: 10px;
            }

        .footer .footer-wrap .footer-left {
            display: flex;
            justify-content: space-between;
            width: 245px;
        }

            .footer .footer-wrap .footer-left .ewm {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

                .footer .footer-wrap .footer-left .ewm img {
                    width: 110px;
                    height: 110px;
                    margin-bottom: 15px;
                }

    .footer .copyright {
        text-align: center;
        line-height: 40px;
        background-color: #202020;
        color: #A4A4A4;
    }

.footer-logo {
    width: 185px;
}

    .footer-logo img {
        width: 185px;
    }
