@charset 'UTF-8';

body,h1,h2,h3,h4,h5,h6,p,dd{
	margin:0;
}
ul,ol,dl{
	list-style-type:none;
	margin:0;
	padding:0;
}
img{
	border:none;
	vertical-align:middle;
}
a{
	text-decoration:none;
	outline:none;
	color:inherit;
	cursor:pointer;
}
em{
	font-style:normal;
}
input,button{
	border:none;
	outline:none;
}
body{
	font:12px/1.5 'Arial','微软雅黑',sans-serif;/*sans-serif 是手机默认字体*/
	/* overflow-x: hidden; */
	
}

.iconfont{
	color:inherit;
}

/********** float *************/
.fl-l{
	float:left;
}
.fl-r{
	float:right;
}
.clearfix:after{
	content:'';
	display:block;
	clear:both;
}
.Middle{
	text-align:center;
}
/*********** position ***************/
.pos-r{
	position:relative;
}
.pos-a{
	position:absolute;
}
.pos-f{
	position:fixed;
}

.reset-swiper {
	transform: translate3d(0,0,0)!important;
}

/* 分页 */
.module-pagination {
    padding: 30px 0;
    text-align: center ;
}

    .module-pagination .no-data {
        font-size: 16px ;
        color: #D7141A ;
    }

/* 分页器 */
/*.el-pagination button, .el-pagination span:not([class*=suffix]) {
    font-size: 18px !important;
    min-width: 65.5px !important;
    height: 50px !important;
    line-height: 50px !important;
}

.el-pagination .is-background .btn-next, .el-pagination .is-background .btn-prev, .el-pagination.is-background .el-pager li {
    min-width: 55px !important;
    line-height: 50px !important;
    height: 50px !important;
    font-size: 18px !important;
}*/



/* 防止页面跳动 */
html {
	overflow-y: scroll;
  }
  
  :root {
	overflow-y: auto;
	overflow-x: hidden;
  }
  
  :root body {
	position: absolute;
  }
  
  body {
	width: 100%;
	overflow: hidden;
  }