@{
    ViewBag.Title = "装企公司";
    ViewBag.Menu = "/company";
}
@using Newtonsoft.Json
@using zg.frontsite

@section head {
    <link rel="stylesheet" type="text/css" href="/Content/css/pages/company.css" />
}

<div class="banner">
     <!--轮播图-->
    @{
            Html.RenderPartial("~/Views/Shared/_Banner.cshtml");
        }
    @*<img src="/Content/images/pano/banner1.jpg" />*@
    <div class="find">
        <div class="find-input">
            <input type="text" placeholder="请输入关键词" v-model="keyword"> <i class="iconfont icon-sousuo" @@click="getList(1)"></i>
        </div>
        <div class="find-keyword">
            <span>热门关键词：</span>
            <ul>
                @foreach (var key in WebConfigs.CompanyHotKeywords)
                {
                    <li><a @@click="hotKeywordClick('@key')">@key</a> <b></b></li>
                }
            </ul>
        </div>
    </div>
</div>
<!-- 装企公司 -->
<div class="module-con con company" v-cloak>
    <div class="wrap">
        <div class="module-company-selector">
            <div class="module-company">
                <span @@click="tagClick(false)">全部装企</span>
                <span @@click="tagClick(true)">认证装企</span>
            </div>
            <el-select v-model="province" clearable placeholder="不限省份" style="width:8em; margin-top: -3px" @@change="getList(1)">
                <el-option label="不限省份" value=""></el-option>
                <el-option v-for="(item, index) in provinceList"
                           :key="index" :label="item" :value="item">
                </el-option>
            </el-select>
        </div>
        <b></b>
        <div class="module-company-content" v-for="item in list" v-bind:key="item.id">
            <div class="content-logo">
                <img v-bind:src="item.full_logo" />
            </div>
            <div class="module-company-text">
                <div class="text-t">
                    <h4>{{item.company_name}}</h4>
                    <i v-bind:class="item.isrzcert == 4 ? 'iconfont icon-yule': ''"></i>
                </div>
                <div class="text-c">
                    <ul>
                        <li>
                            <i class="iconfont icon-dizhi"></i>
                            <span>{{item.address}}</span>
                        </li>
                        <li>
                            <i class="iconfont icon-yuedu"></i>
                            <span>{{item.seecount}}</span>
                        </li>
                    </ul>
                </div>
                <span>
                    {{item.description}}
                </span>
            </div>
            <div class="module-company-show">
                <ul>
                    <li v-for="projects in item.project_list" v-bind:key="projects.id"><a v-bind:href="projects.pc_panoview_url" target="_blank"><img v-bind:src="projects.full_image_url" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="module-pagination">
            <el-pagination background layout="total, prev, pager, next" v-bind:total="total" v-bind:page-size="pageSize" v-bind:current-page="page"
                           @@current-change="getList" v-if="total > 0">
            </el-pagination>
            <div class="no-data" v-if="total == 0">暂无数据</div>
        </div>
    </div>
</div>

@section scripts {
    @{
        Html.RenderPartial("~/Views/Shared/_VueBase.cshtml");
    }
    <style>
        .el-input__inner {
            border: 0;
        }
    </style>

    <script type="text/javascript">

        (function () {
            var initData = @Html.Raw(JsonConvert.SerializeObject(ViewBag.CompanyList))
                initData = initData || {}

            new Vue({
                el: "#app",
                data() {
                    return {

                        page: 1,
                        pageSize: 8,
                        list: initData.list || [],
                        total: initData.count || 0,
                        keyword: "",
                        province: "",
                        provinceList: [
                            '北京市',
                            '天津市',
                            '河北省',
                            '山西省',
                            '上海市',
                            '辽宁省',
                            '吉林省',
                            '黑龙江省',
                            '江苏省',
                            '浙江省',
                            '安徽省',
                            '福建省',
                            '江西省',
                            '山东省',
                            '河南省',
                            '湖北省',
                            '湖南省',
                            '广东省',
                            '海南省',
                            '重庆市',
                            '四川省',
                            '贵州省',
                            '云南省',
                            '陕西省',
                            '甘肃省',
                            '青海省',
                            '台湾',
                            '广西壮族自治区',
                            '西藏自治区',
                            '宁夏回族自治区',
                            '新疆维吾尔自治区',
                            '内蒙古自治区',
                            '澳门特别行政区',
                            '香港特别行政区',
                        ],
                        isrzcert: false
                    }
                },
                methods: {
                    tagClick(isrzcert) {
                        this.isrzcert = isrzcert
                        this.getList(1)
                    },
                    hotKeywordClick(keyword) {
                        this.keyword = keyword
                        this.getList(1)
                    },
                    getList(page) {
                        var self = this
                        this.page = page || 1
                        var data = {
                            keyword: this.keyword,
                            is_contains_project : true,
                            isrzcert: this.isrzcert,
                            province: this.province,
                            orderBy: ""
                        }
                        this.$service.getCompanyList(this.page, this.pageSize, data, function (res) {
                            var data = res.data
                            self.list = data.list
                            self.total = data.count
                        })
                    }
                }
            })
        })();

    </script>

    <script type="text/javascript" src="/Content/js/pages/index.js"></script>

}